@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image : url("https://images.unsplash.com/photo-1688733720228-4f7a18681c4f?w=500&auto=format&fit=crop&q=60&ixlib=rb- 4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cmVzcG9uc2l2ZSUyMHdlYiUyMGRlc2lnbnxlbnwwfHwwfHx8MA%3D%3D");
  background-size:cover;
  background-repeat: no-repeat;
  
}